
<!-- Tshirts -->
<div class="product-tshirt">
  <div class="container">
    <h1>Tshirt</h1>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">SIZE</div>
          <div class="panel-body"><img src="../images/mk3.jpg" alt=""></div>
          <div class="panel-footer">T SHIRT 5.OO$</div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">SIZE</div>
            <div class="panel-body"><img src="../images/mk5.jpg" alt=""></div>
            <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">SIZE</div>
            <div class="panel-body"><img src="../images/mk8.jpg" alt=""></div>
            <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
          </div>
      </div>

  </div>
</div>

<!-- end Tshirts -->
<!-- Hoodies Start  -->
<div class="product-hoodies">
  <div class="container">
    <h1>Hoodies</h1>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">SIZE</div>
          <div class="panel-body"><img src="../images/mk1.jpg" alt=""></div>
          <div class="panel-footer">T SHIRT 5.OO$</div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">SIZE</div>
            <div class="panel-body"><img src="../images/mk2.jpg" alt=""></div>
            <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">SIZE</div>
            <div class="panel-body"><img src="../images/mk4.jpg" alt=""></div>
            <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
          </div>
      </div>

  </div>
</div>
<!-- Hoodies End -->
<!-- Accessories -->
<div class="product-accessories">
  <div class="container">
    <h1>Accessories</h1>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">SIZE</div>
          <div class="panel-body"><img src="../images/mk3.jpg" alt=""></div>
          <div class="panel-footer">T SHIRT 5.OO$</div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">SIZE</div>
            <div class="panel-body"><img src="../images/mk5.jpg" alt=""></div>
            <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">SIZE</div>
            <div class="panel-body"><img src="../images/mk8.jpg" alt=""></div>
            <div class="panel-footer">PANTS FORCLAZ 30.00$</div>
          </div>
      </div>

  </div>
</div>
<!-- Accessories End -->
