<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!-- heading -->
<div class="" id="home">

  <section id="mkenya">
    <p>Mkenya | Daima</p>
  </section>
  <!-- end of heading -->

  <!-- start of navbar -->

  <div class="nav-section">

    <nav>
      <ul>

        <li>
          {{#link-to 'index'}}Home{{/link-to}}
        </li>
        <li><a href="#tshirts">Tshirt</a></li>
        <li><a href="#hoodies">Hoodies</a></li>
        <li><a href="#accessories">Accesories</a></li>
        <li><a href="#">Checkout</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- end of navbar -->
<!--Tshirt  -->
{{#each model as |product|}}
  {{tishirt-tile product=product}}
{{/each}}
<!--Tshirt End  -->
{{outlet}}
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"><u>We Are Social</u></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
        <p><i class="fa fa-facebook"></i>Facebook - Mkenya Daima </p>
        <p><i class="fa fa-twitter"></i>Twitter - @mkenyadaima</p>
        <p><i class="fa fa-instagram"></i>Instagram - @mkenyadaima</p>
        <p><i class="fa fa-phone"></i>+254789456615</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@mkenyadaima.co.ke</p>
      </div>
      <center>
        <div class="col-md-4 col-sm-6 paddingtop-bottom">
          <h6 class="heading7">MADE IN KENYA</h6>
          <ul class="footer-ul">
            <li><a href="#home"> Home</a></li>
            <li><a href="#tshirts"> Tshirts</a></li>
            <li><a href="#hoodies"> Hoodies</a></li>
            <li><a href="#accesories">Accesories</a></li>
            <li><a href="#">Checkout</a></li>
          </ul>
        </div>
      </center>
      <div class="end col-md-4 col-sm-6 paddingtop-bottom">
        <u>Our Mission</u>
        <p>To promote peace and patriotism through apparel.</p>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->
<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with MkenyaDaima</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">mkenyadaima.co.ke</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
  </div>
</div>

x
