<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!-- heading -->
<div class="" id="home">

  <section id="mkenya">
    <p>Mkenya | Daima</p>
  </section>
  <!-- end of heading -->

  <!-- start of navbar -->

  <div class="nav-section">

    <nav>
      <ul>

        <li>
          {{#link-to 'index'}}Home{{/link-to}}
        </li>
        <li><a href="#tshirts">Tshirt</a></li>
        <li><a href="#tshirts">Hoodies</a></li>
        <li><a href="#tshirts">Accesories</a></li>
        <li><a href="#checkout">Checkout</a></li>
      </ul>
    </nav>
    <div id="tag">
      <p>home of authentic kenyan apparel</p>

    </div>
  </div>
</div>
<!-- end of navbar -->
<!--Tshirt  -->




<div class="well">

  <div id="tshirts">
    {{#each model as |product|}}
      {{tishirt-tile product=product}}
    {{/each}}
  </div>
  <div id="checkout">
    <h2>Items Added To Cart</h2> {{display-cart}}
  </div>
</div>
<!--Tshirt End  -->
{{outlet}}
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"><u>We Are Social</u></div>
        <p>We believe in the power of social media and you can reach us through our various platforms</p>
        <p><i class="fa fa-facebook"></i>Facebook - Mkenya Daima </p>
        <p><i class="fa fa-twitter"></i>Twitter - @mkenyadaima</p>
        <p><i class="fa fa-instagram"></i>Instagram - @mkenyadaima</p>
        <p><i class="fa fa-phone"></i>+254789456615</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@mkenyadaima.co.ke</p>
      </div>
      <center>
        <div class="col-md-4 col-sm-6 paddingtop-bottom">
          <h6 class="heading7">PROUDLY KENYAN</h6>
          <ul class="footer-ul">
            <li><a href="#home"> Home</a></li>
            <li><a href="#tshirts"> Tshirts</a></li>
            <li><a href="#hoodies"> Hoodies</a></li>
            <li><a href="#accesories">Accesories</a></li>
            <li><a href="#checkout">Checkout</a></li>
          </ul>
        </div>
      </center>
      <div class="end col-md-4 col-sm-6 paddingtop-bottom">
        <u>Our Mission</u>
        <p>We are a Kenyan clothing company that design and produce super cool apparel with a goal to promote peace and patriotism</p>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->
<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with MkenyaDaima</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">mkenyadaima.co.ke</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
  </div>
</div>

x
